<div class="card-product">
  <%= link_to product_path(product), class: 'textdecoration-none' do %>
    <div class="card-product-content">
      <img src= <%= product.icon %> >
      <div class="card-product-show">
          <!-- <div class="card-product-infos"> -->
            <h2><%= product.name %></h2>
            <p> <%= product.description %></p>
          <!-- </div> -->
      </div>
    </div>
  <% end %>
  <% if userproduct %>
      <%= link_to set_product_marked_path(product), method: :patch do %>
        <div class="card-remove-item">
          <i class="fas fa-trash-alt"></i>
        </div>
      <% end %>
  <% end %>
</div>
