<div class="swiper-container gallery-top">
<h2 class="text-center"><%= @product.name %></h2>
<div class="swiper-pagination"></div>
  <div class="swiper-wrapper">
    <% @pictures[:guide].each do |picture| %>
      <div class="swiper-slide"><img class="image-swipe" src=<%= picture.url %> ></div>
    <% end %>
  </div>

</div>
<div class="swiper-container gallery-thumbs">
  <div class="swiper-wrapper">
    <% @pictures[:guide].each do |picture| %>
      <div class="swiper-slide"><img class="image-thump" src=<%= picture.url %> ></div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'swipe' %>

<!--
<strong>Pictures Warning: </strong><br>
<% @pictures[:warning].each do |picture| %>
  <img src=<%= picture.url %> >
<% end %>

<br><br>

<strong>Pictures Tool: </strong><br>
<% @pictures[:tool].each do |picture| %>
  <img src=<%= picture.url %> >
<% end %>

<br><br>

<strong>Pictures Screw: </strong><br>
<% @pictures[:screw].each do |picture| %>
  <img src=<%= picture.url %> >
<% end %>

<br><br>

<strong>Pictures Overview: </strong><br>
<% @pictures[:overview].each do |picture| %>
  <img src=<%= picture.url %> >
<% end %>

<br><br>

<strong>Pictures Guide: </strong><br>
<% @pictures[:guide].each do |picture| %>
  <img src=<%= picture.url %> >
<% end %>
-->
