<div class="index">
  <% if @previous_page == "http://localhost:3000/" || @previous_page == "https://ienkelt.herokuapp.com/" %>
    <div class="show-left-animation">
  <% end %>
    <div class="container-lp-copy">
      <div class="content">
        <%= render 'shared/searchform' %>
      </div>
    </div>
  <% if @previous_page == "http://localhost:3000/" || @previous_page == "https://ienkelt.herokuapp.com/" %>
    </div>
  <% end %>


  <div class="product-display">
    <% if @search == true %>
      <% if @products.present? %>
        <div class="header">
          <h3>Search Results for <br>"<%= params[:query].upcase %>"</h3>
        </div>
        <% @products.each do |product| %>
          <%= render 'shared/card', product: product, userproduct: false %>
        <% end %>
      <% else %>
        <div class="header">
          <h3>Oh no!</h3>
          <p>We couldn't find a single match for <br>"<%= params[:query].upcase %>".<br><br> If you are looking for a product that doesn't require assembly, please visit IKEA.com.</p>
      <% end %>
    <% else %>
      <div class="header">
        <h3>My Products</h3>
        <p>Products you have bought, which require assembly.</p>
        </div>
        <% @not_assembled.each do |userproduct| %>
          <%= render 'shared/card', product: userproduct.product, userproduct: true %>
        <% end %>
    <% end %>
    </div>
  </div>
</div>

<% if @previous_page == "http://localhost:3000/" || @previous_page == "https://ienkelt.herokuapp.com/" %>
  <%= content_for(:after_js) do %>
   <%= javascript_pack_tag 'index-animation' %>
  <% end %>
<% end %>
