<div class="container-left", style="background-image: url(<%= @product.image %>);">
  <div class="container">
  </div>
</div>
<div class="container-right">
  <div class="container">
    <div class="product-info">
      <h1><%= @product.name.upcase %></h1>
      <p><%= @product.description %></p>
      <p class="product-number">Article number: <%= @product.article_number %></p>
      </div>
    <h2>ASSEMBLY GUIDES</h2>
    <%= link_to product_guide_path do %>
      <div class="interactive click-animation-inter">
        <i class="fas fa-tablet-alt show-icon"></i>
        <p>Interactive guide</p>
      </div>
    <% end %>
    <div class="medias">
      <%= link_to @product.video do %>
        <div class="show-media">
          <i class="fas fa-video show-icon"></i>
          <p>Video</p>
        <% end %>
        </div>
      <%= link_to @product.pdf, target: "_blank" do %>
        <div class="show-media">
          <i class="fas fa-file-pdf show-icon"></i>
          <p>PDF file</p>
       <% end %>
      </div>
      <%= link_to "https://www.taskrabbit.com/", target: "_blank" do %>
      <div class="show-media">
        <%= image_tag "icon_task_rabbit.jpg", alt: "TaskRabbit", class: "task-rabbit"; %>
        <p>TaskRabbit</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
