
<div class="container-review">

  <%
=begin%>
 <div class="banner" style="background-image: linear-gradient(rgba(222,92,97,0.6),rgba(0,0,0,0.5)), url(<%= @inspirations.last.url %>)";> 
<%
=end%>


  <div class="banner">
    <div class="textheader">
      <br>
      <br>
        <h1>We hope you enjoy your product!</h1>
        <p>Please leave feedback to make IKEA even better.</p>
    </div>
    <div class="header-wrapper">
      <div class="zoominheader">

      </div>
    </div>
  </div>

  <div class="form">
    <%= simple_form_for([@product, @review]) do |f| %>
    <div class="rate">
      <input type="radio" id="star5" name="review[rating]" value="5" />
      <label for="star5" title="text">5 stars</label>
      <input type="radio" id="star4" name="review[rating]" value="4" />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="review[rating]" value="3" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="review[rating]" value="2" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="review[rating]" value="1" />
      <label for="star1" title="text">1 star</label>
    </div>
      <%= f.input :content, label: false, placeholder: "Please leave a comment", :input_html => {:rows => 5} %>
      <%= f.button :submit, "Send Feedback", class: "btn-e click-animation" %>
      <%= link_to "Skip", product_inspiration_path(@product), class: "btn-e grey click-animation" %>
      <% end %>
  </div>

</div>


